@import "@diana-kit/web/src/scss/tokens.scss";

.Header {
  background-color: $primary700;
  display: flex;
  gap: 16px;
  align-items: center;
  height: 72px;
  padding: 0 24px;
}

.Navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0 16px;
}

.Header .diana-title {
  color: $secondary00 !important;
}

.DianaButton {
  display: inline;
}

.CentralContent {
  display: flex;
  flex: 1;
  border-right: 1px solid $primary100;
  border-left: 1px solid $primary100;
  width: calc(100vw - 18rem);
  justify-content: space-between;
}

.NotificationBadge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 16px;
}

.Header .btn-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

diana-notification-badge {
  min-width: 0;
}

diana-notification-badge .icon {
  padding: 0;
}

diana-notification-badge diana-icon svg {
  color: $secondary00;
}

.DropdownButton {
  background-color: transparent;
  color: $secondary00;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  max-height: 40px;
}

.DropdownButton:hover {
  background-color: $primary800;
}

.DropdownMenu {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $secondary00;
  margin: 0;
  padding: 0;
  z-index: 30;
  box-shadow: 0 5px 10px 0 #cdd3cd;
  border-radius: 4px;
}

.DropdownMenu .Item {
  box-sizing: border-box;
  min-width: 200px;
  line-height: 24px;
  color: #33820d;
  display: flex;
  padding: 10px 16px;
  font-size: 16px;
  transition:
    background-color 0.25s,
    color 0.25s,
    border 0.25s;
  align-items: center;
  font-weight: 700;
  font-family: Nunito, sans-serif;
  border-bottom: 1px solid #cdd3cd;
  text-decoration: none;
  background-color: #fff;
  cursor: pointer;
}

.dropdown-menu-trigger {
  position: relative;
  display: inline-flex;
}

.dropdown-menu-items {
  position: absolute;
  inset: 0 auto auto 0;
  transform: translate(0, 56px);
  opacity: 0;
  margin: 0;
  padding: 0;
  z-index: 30;
  box-shadow: 0 5px 10px 0 #cdd3cd;
  border-radius: 4px;
  list-style-type: none;
  visibility: hidden;
  pointer-events: none;
}

.dropdown-menu-items.opend {
  opacity: 1;
  visibility: visible;
  pointer-events: inherit;
}
