@import "@diana-kit/web/src/scss/tokens.scss";

.dianaInput {
  position: relative;
  width: 100%;
  padding: 16px 0 0;
  display: inline-block;
}

.dianaInput .inputBox {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dianaInput input {
  background: transparent;
  border: none;
  display: block;
  padding: 4px 0 1px;
  margin-bottom: 1px;
  width: 100%;
}

.dianaInput input:focus {
  transform: translateY(0);
  border-bottom-color: $primary700;
  outline: none;
}

.dianaInput .label {
  font-family: $fontFamilyBase;
  font-weight: $fontWeightRegular;
  font-size: $fontSizeXSmall;
  line-height: $fontLineHeightMedium;
  letter-spacing: 0;
  color: $secondary900;
  margin: 0;
}

.dianaInput .inputLabel {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.dianaInput label.placeholder {
  transform: translateY(20px);
}

.MultiSelect {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #fff;
  margin: 0;
  padding: 0;
  z-index: 30;
  box-shadow: 0 3px 10px 0 rgb(50 60 50 / 10%);
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  top: 100%;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.MultiSelect #downshift-0-input {
  color: $secondary900;
  width: calc(100% - 32px);
  border: none;
  margin: 16px 16px 8px;
  outline: none;
  padding: 0;
  display: inline-flex;
  font-size: 16px;
  transition:
    color 0.25s,
    border 0.25s;
  background: none;
  border-bottom: 2px solid #cdd3cd;
  background-color: #fff;
}

.MultiSelect.Close {
  display: none;
}

.OptionsBox {
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 30;
  background: #fff;
  overflow-y: auto;
  max-height: 160px;
}

.MultiSelect .Item {
  box-sizing: border-box;
  line-height: 24px;
  color: #33820d;
  display: flex;
  padding: 10px 16px;
  font-size: 16px;
  transition:
    background-color 0.25s,
    color 0.25s,
    border 0.25s;
  align-items: center;
  font-weight: 700;
  font-family: Nunito, sans-serif;
  text-decoration: none;
  background-color: #fff;
}

.MultiSelect .Item:hover {
  background-color: $secondary50;
}

.MultiSelect .ButtonsBox {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $secondary200;
}

.ErrorMessageColor {
  color: $supportRed700;
}
