@import "@diana-kit/web/src/scss/tokens.scss";

.UserMessageBox {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 4px;
  align-items: center;
  justify-content: end;
}

.TextArea {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  gap: 8px;
}

.TextBox {
  background-color: $secondary50;
  width: fit-content;
  text-align: start;
  padding: 16px 24px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.UserMessageBox .Icons {
  width: 100%;
  display: flex;
  gap: 14px;
  align-items: start;
}

.Toolbar {
  position: absolute;
  color: $primary700;
  display: flex;
  gap: 8px;
  box-shadow: 0 2px 4px 0 #323c3233;
  padding: 4px 8px;
  z-index: 100;
  right: 32px;
  top: 0;
  background-color: $secondary00;
}
